<%= render 'partials/navbar' %>
<!-- Full Page Image Background Carousel Header -->
<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>


    </ol>

    <!-- Wrapper for Slides -->
    <div class="carousel-inner">
        <div class="item active">
            <!-- Set the first background image using inline CSS below. -->
            <div class="fill" style="background-image:url('http://imagesnt.educationindiaa.in/ShowImage.jpg ');"></div>
            <div class="carousel-caption">
                <h2>You remember how things made you feel on certain days or in certain places, so your memory is more detailed.</h2>
            </div>
        </div>
        <div class="item">
            <!-- Set the second background image using inline CSS below. -->
            <div class="fill" style="background-image:url('https://jessicadavidsonauthor.files.wordpress.com/2016/11/website-pen-header.jpeg?w=663&h=373 One');"></div>
            <div class="carousel-caption">
                <h2>Make a hot drink, snuggle into a comfy chair and take half an hour just for you and your diary. It feels great!</h2>
            </div>
        </div>

        <div class="item">
            <!-- Set the second background image using inline CSS below. -->
            <div class="fill" style="background-image:url('http://3.bp.blogspot.com/-8Al6HZQ7SBM/T87sqUUBcZI/AAAAAAAABmY/6eH_PAWgJNc/s1600/Candle_and_Books.jpg  Two');"></div>
            <div class="carousel-caption">
                <h2>MSometimes, we don’t appreciate what we achieve – writing down a challenge you overcame and how you did it makes you realise this!</h2>
            </div>
        </div>

        <div class="item">
            <!-- Set the second background image using inline CSS below. -->
            <div class="fill" style="background-image:url('http://3.bp.blogspot.com/-8Al6HZQ7SBM/T87sqUUBcZI/AAAAAAAABmY/6eH_PAWgJNc/s1600/Candle_and_Books.jpg  Three');"></div>
            <div class="carousel-caption">
                <h2>On the other hand, you can understand things you could have done better, if you have to write something down and consider it.</h2>
            </div>
        </div>

    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>

</header>

<!-- Page Content -->

<!-- /.container -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Script to Activate the Carousel -->
<script>
$('.carousel').carousel({
    interval: 5000 //changes the speed
})
</script>





    <hr />
</div>
