<div class="jumbotron size">
  <h1 class="display-3">Do not let the memories fade away!</h1>
  <p class="lead center">Memories are a movie you play over in your head without the background music and creative fictional twists.</p>
  <p class="lead center ">
    <a class="btn btn-primary btn-lg" href="#" role="button">Start capturing by signing in</a>
  </p>
  <hr class="my-4 ">
  <p align="center">You will never know the true value of a moment until it becomes a memory. Make the most of the moment cos you never know what you have until it’s gone.</p>

</div>




<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<!-- // -->
<div class="container">

  <footer id="foot"> &copy; Copyright 1997, Likhith Acharya </footer>

    <hr />
        <div class="text-center center-block">
            <br />
                <a href="https://www.facebook.com"><i class="fa fa-facebook-square fa-3x social"></i></a>
              <a href="https://twitter.com"><i class="fa fa-twitter-square fa-3x social"></i></a>
              <a href="https://plus.google.com"><i class="fa fa-google-plus-square fa-3x social"></i></a>
              <a href="mailto:likhithacharya277@gmail.com"><i class="fa fa-envelope-square fa-3x social"></i></a>

</div>
    <hr />
</div>
