<h1 class="center pad users">Welcome to <%= @user.username %>'s page</h1>


<div class="center">
   <%= will_paginate @user_pages %>
</div>

</br>

<%= render 'user', obj: @user_pages %>

</br>

<div class="center">
   <%= will_paginate @user_pages %>
</div>
