<% obj.each do |page| %>
<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="well well-lg">
      <div class="article-title">
        <%= link_to page.title, page_path(page) %>
      </div>
      <div class="article-body">
        <%= truncate(page.description, length: 100) %>
        <div class="article-meta-details">
          <small>created by: <%= page.user.username if page.user %>,
            <%= time_ago_in_words(page.created_at) %> ago.</small>
        </div>

     </div>
        
        </div>

  </div>
</div>
</div>
<% end %>
