<h1 class="pad users">Edit your captured memory</h1>

<%= render 'form' %>

<div class="center">
  <%= link_to "View this page", @page, class: "btn btn-xs btn-primary center"  %>
</div>



<%= render 'partials/footer' %>
