<h1 class="pad users">Loads of memory <3 </h1>
</br>
</br>
<div align="center">
  <%= will_paginate %>
</div>

 <%= render 'page', obj: @pages %>


 <div align="center">
   <%= will_paginate %>
 </div>

<%= render 'partials/footer' %>
