<h2 class="center">Title : <%= @page.title %></h2>
<h1 class="pad users">Have a look! </h1>
</br>

<div class="well col-xs-8 col-xs-offset-2">



  <h4 class="center"><strong>Description</strong></h4>
  <hr>

  <%= simple_format(@page.description) %>
    <div class="article-actions">

</div>

<div >
    <%= render 'partials/footer' %>
</div>
